{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

<style type="text/css">
    
</style>

{% block javascript_extended %}

{% endblock %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="pull-right">
            <a  href="{% url 'dailyinspection_list'  %}"><i  class="fa fa-list fa-1x" aria-hidden="true">{% trans "Daily Inspection" %}</i></a>
        </div>
    </div>
</div>


<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script> -->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.10.0/jquery.min.js"></script>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script> -->
<!-- <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script> -->
<script type="text/javascript" src="https://cdn.bootcss.com/Chart.js/2.7.1/Chart.min.js"></script>

<div class="row">
    <div class="col-sm-6">

        <div class="page-header">
            <h3>{% trans "Inspection Overdue" %} <small><a class="fa fa-warning fa-1x"  style="color: red;" href="{% url 'dailyinspection_list' %}?overdue=1"  title='{% trans "Inspection Overdue" %}' ></a> UNCOMPLETED &amp; OVERDUE</small></h3>
        </div>
        <canvas id="myChartOverdue" width="500" height="200"></canvas>
        <script type="text/javascript">

            // var data1 = {
            //     datasets: [{
            //         data: [10, 20, 30],
            //         backgroundColor: [
            //             'rgba(255, 0, 0, 0.1)',
            //             'rgba(0, 255, 0, 0.1)',
            //             'rgba(0, 0, 255, 0.1)',
            //         ]            
            //     }],

            //     // These labels appear in the legend and in the tooltips when hovering different arcs
            //     labels: [
            //         'Red',
            //         'Yellow',
            //         'Blue'
            //     ],
            // };



            // var ctx = $("#myChartOverdue").get(0).getContext("2d");
            //         new Chart(ctx, {
            //             type: 'pie', 
            //             data: data1,
            //         });

            $.get('{% url "line_chart_json_overdue" %}', function(data) {
                var ctx = $("#myChartOverdue").get(0).getContext("2d");

                new Chart(ctx, {
                    type: 'doughnut',  // 'pie'
                    data: data,
                    options: {}
                });
            });
        </script>
    </div>

    <div class="col-sm-6">
        <div class="page-header">
            <h3>{% trans "FOR LATEST 1 WEEK" %} <small>FOR LATEST 1 WEEK</small></h3>
        </div>
        <canvas id="myChartLast" width="500" height="200"></canvas>
        <script type="text/javascript">    
        // http://www.chartjs.org/docs/latest/axes/cartesian/linear.html
            $.get('{% url "line_chart_json_lasts" %}', function(data) {        
                var ctx = $("#myChartLast").get(0).getContext("2d");

                new Chart(ctx, {
                    type: 'bar', 
                    data: data,

                    options: {
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Number of Daily Inspection'
                                },
                                ticks: {
                                    beginAtZero:true,
                                    min: 0,
                                    suggestedMin: 0,
                                    stepSize:1,
                                }
                            }],
                            xAxes: [{
                                // gridLines: {
                                //     offsetGridLines: true,                            
                                // },
                                barPercentage: 0.8,
                            }]                    
                        }                
                    }            
                });
            });
        </script>
    </div>



    <div class="col-sm-6">
        <div class="page-header">
            <h3>{% trans "FOR LATEST 1 MONTH" %} <small>FOR LATEST 1 MONTH</small></h3>
        </div>
        <!-- // http://www.chartjs.org/docs/latest/axes/cartesian/linear.html -->
        <canvas id="myChartCompare" width="500" height="200"></canvas>
        <script type="text/javascript">

            $.get('{% url "line_chart_json_compare" %}', function(data) {
                var ctx = $("#myChartCompare").get(0).getContext("2d");
                console.log(data);

                new Chart(ctx, {
                    type: 'bar', 
                    data: data,

                    options: {
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Number of Daily Inspection'
                                },
                                ticks: {
                                    beginAtZero:true,
                                    min: 0,
                                    suggestedMin: 0,
                                    stepSize:1,
                                }
                            }]
                        }
                    }            
                });
            });
        </script>
    </div>

    {% comment %}
    <div class="col-sm-6">
        <div class="page-header">
            <h3>{% trans "COMPARE PAST 3 MONTHS" %} <small></small></h3>
        </div>
        <!-- // http://www.chartjs.org/docs/latest/axes/cartesian/linear.html -->
        <canvas id="myChartCompare" width="500" height="200"></canvas>
        <script type="text/javascript">

            $.get('{% url "line_chart_json_compare" %}', function(data) {
                var ctx = $("#myChartCompare").get(0).getContext("2d");
                console.log(data);

                new Chart(ctx, {
                    type: 'bar', 
                    data: data,

                    options: {
                        scales: {
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Number of Daily Inspection'
                                },
                                ticks: {
                                    beginAtZero:true,
                                    min: 0,
                                    suggestedMin: 0,
                                    stepSize:1,
                                }
                            }]
                        }
                    }            
                });
            });
        </script>
    </div>
    {% endcomment %}

    {% comment %}
    <!-- not required function, kill it -->
    <div class="page-header">
        <h3>{% trans "LAST 5 ACTUAL DAYS" %} <small>LAST 5 ACTUAL DAYS</small></h3>
    </div>

    <table class="text-center table table-hover table-striped ">
        <thead>
    	    <tr class="table-primary-light">
    	        <th></th>
    	        {% for date in dates %}
    	        <th class="text-center">
    	            {{date}}
    	        </th>
    	        {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for key,value in counters.items %}
        <tr>
            <td>
                {{key}}
            </td>
            {% for key0,value0 in value.items %}
            <td>
                {{value0}}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}        
        </tbody>
        
    </table>

    <canvas id="myChart" width="500" height="200"></canvas>

    <script type="text/javascript">
        $.get('{% url "line_chart_json" %}', function(data) {
            var ctx = $("#myChart").get(0).getContext("2d");
            new Chart(ctx, {
                type: 'bar', 
                data: data,

                options: {
                    scales: {
                        yAxes: [{
                            scaleLabel: {
                                display: true,
                                labelString: 'Number of Daily Inspection'
                            },
                            ticks: {
                                beginAtZero:true,
                                min: 0,
                                suggestedMin: 0,
                                stepSize:1,
                            }
                        }]
                    }
                }                
            });
        });
    </script>
    {% endcomment %}

</div>    
{% endblock %}
