    {% load staticfiles %}

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    {% comment %}
    <script src="http://lib.sinaapp.com/js/jquery/1.12.4/jquery-1.12.4.min.js"></script>    
    {% endcomment %}
    <script>window.jQuery || document.write('<script src="{% static 'js/jquery.min.js' %}"><\/script>')</script>

    {% comment %}
    <script src="http://lib.sinaapp.com/js/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    {% endcomment %}
    <script src="{% static 'js/bootstrap.min.v3.0.0.js' %}">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    <!-- <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script> -->
    
    <script src="https://cdn.bootcss.com/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <!-- <script src="http://lib.sinaapp.com/js/jquery-ui/1.10.2/jquery-ui.min.js"></script> -->
    <!-- <script src="//apps.bdimg.com/libs/jqueryui/1.10.4/jquery-ui.min.js"></script> -->        
    <!-- <script src="{% static 'js/jquery-ui.js' %}"></script> -->

    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>
    <!-- <script src="{% static 'js/jquery.form.js' %}"></script> -->

    {% comment %}
    <!--
    https://stackoverflow.com/questions/33263021/bootstrap-datetimepicker-is-not-a-function
    http://www.bootcss.com/p/bootstrap-datetimepicker/index.htm
    <script src="https://cdn.bootcss.com/moment.js/2.20.1/locale/zh-cn.js"></script>   
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/2.1.30/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-datetimepicker/2.1.30/js/bootstrap-datetimepicker.min.js"></script>
    -->
    <!--[if lt IE 9]>
    <![endif]-->    
    <!-- Font Aw-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    {% endcomment %}
    
    <script src="{% static 'js/custom.js' %}"></script>
