{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activated" %}{% endblock %}

{% block content %}
<p class = "lead">
    {% trans "Your account is now activated." %}
    {% if not user.is_authenticated %}
    	{% trans "You can log in." %}
    {% else %}
    	<a href='{% url "link_to_wechat" %}'>Link to wechat</a> <!-- need to find a method to link directly to wechat when activate complete -->
<!--     	{% if request.wechat %}
	    	{% ifequal request.wechat.user request.user %}
	    	wechat linked to your account
	    	{% else %}
	    	<a href='{% url "link_to_wechat" %}'>Link to wechat</a> 
	    	{% endifequal %}
    	{% endif %} -->
    {% endif %}
</p>
{% endblock %}


{% comment %}
**registration/activation_complete.html**

Used after successful account activation. This template has no context
variables of its own, and should simply inform the user that their
account is now active.
{% endcomment %}
