{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<p class='lead'>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input class = "btn btn-default" type="submit" value="{% trans 'Change password' %}" />
</form>
</div>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}
